*{    font-family: "roboto";
}
body{   background-color: rgba(255, 138, 60, 0.514);
}
.bgr{   background-color: white;
}
.mobile-Screen{
    width: 380px;
    margin:auto; 
    position: relative;
}
/* header */
.part-one{
    background-color:  #ffefd2;
    padding: 20px 20px 0 20px;
}
.header{
    display: flex;
    align-items: center;
}
.icon{    width: 40px;
}
.shopify{
    font-size: 30px;
    margin-right:auto;
    font-weight: bold;
}
.button-Menu{
    background-color: #ffefd2;
    border: none;
    font-size: 20px;
}
/* end header */
.part-two{
    background-color:rgb(255, 255, 255);
    padding: 20px;
}
.heading-1{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}
.text-Center{    text-align: center;
}
.margintop-50{    margin-top: 50px;
}
.input-Button{
    width: 100%;
    height: 50px;
    margin:10px 0px;
    border-radius: 10px;
    font-size: 17px;
    border: none;
}
.button-Start{
    background-color: lightseagreen;
    color: white;
}
.para-1{
    font-size: 12px;
    margin-bottom: 50px;
}
.photo1{
    width: 100%;
    border-radius: 10px;
}
.photo2{
    width: 60%;
    margin-top: 10px;
    border-radius: 10px;
}
.photo3{
    width: 30%;
    margin: 20px 0px 20px 30px;
    border-radius: 10px;
}
h2{
    margin-top: 50px;
    font-size: 27px;
}
.para-2{
    font-size: 18px;
}
/*  start*/
.heading-3{
    font-size: 30px;
    margin-top: 70px;
}
.para-3{
    color: rgb(8, 104, 72);;
}
.para-4{
    font-size: 17px;
    opacity: .4;
}
.link{
    font-size: 17px;
    color: rgb(8, 104, 72);
    font-weight: bold;
}
.fa-arrow-right{
    font-size: 13px;
    margin-left: 5px;
}
.slides,.img-Start{
    width: 100%;
    height: 250px;
}
/* end start */
/* sell */
.interface-button{ position: relative;
}
.buttonleft,.buttonright{ position: absolute;
}
.buttonright{
    right: 0px;
}
/* end sell */
/* market */
.img-Market{
    position: relative;
    width: 100%;
}
.slidess1{
    width: 40%;
}
.slidess2{
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    padding: 20px 0;
}
.absolute
{
    position: absolute;
    border-radius: 10px;
}
.slidess3{
    width: 45%;  
    right: 0;
    bottom: 0;
}
/* manage */
.width-100{    width: 100%;
}
/* contact */
.contact{    font-size: 23px;
}
/* -------------------- */
.Business{
    color: teal;
    margin-top: 100px;
}
.fa-pause{
    border: none;
    font-size: 30px;
    color: teal;
}
/* green */
.green{
    background-color: teal;
    margin: 40px auto;
    text-align: center;
    color: white;    
    padding-bottom: 20px;
}
.green-2{    padding: 0 20px;  
}
.img-people{    width: 100%;
}
.text-green{ 
    font-size: 28px;
    margin: 30px 0px;
}
.img-green{
    width:180px;  
    margin: 30px auto;
}
.button-green{
   display: flex;
   font-size: 18px;
   align-items: center;
   background-color: teal;
   font-weight:bold;
   color: white;
   border-radius: 10px;
   margin: 30px auto;
   padding: 15px;
}
.button-green:hover{
    background-color:white;
    color: black;
}
/* logo */
.logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}
.logo-all{
    width: 148px;
    margin: 5px;
}
.button-bottom{
    background-color: teal;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    color:white;
}
.button-bottom:hover{    background-color: turquoise;
}
/* menu */
.layer-menu{
    background-color:rgb(63, 58, 58);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;  /*lớp*/
    display: none;
    opacity: .7;  
    margin: 0px;
}
.view-sidebar{
    position: absolute;
    height: 100%;
    width: 310px;
    margin: 0px;
    padding: 0px 20px;
    right: 0px;
    z-index:2 ;
    display: none;
}
/* side bar */
#myOverlay .header{
    margin: 20px 0;
    border-bottom: solid 2px rgba(128, 128, 128, 0.685);
}
.fa-times{
    font-size: 30px;
    border: none;
}
.para{    font-size: 20px;
}
#up,#listLearn{
    display: none;
}
.button-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    border: none;
    padding: 10px 0;
}
.button-free-menu{
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    background-color: mediumslateblue;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    border: none;
}
.siderba-all{
    padding: 20px 0px;
    border-bottom: solid 2px rgba(165, 159, 159, 0.726);
}
.border-left{
    border-left: solid 2px rgba(75, 73, 73, 0.301);
    padding-left: 30px; 
}
.footer-sidebar{
    padding: 20px 0px;
    font-size: 20px;
}
/* end siderbar */